template(name="payoffTables")
  table
    thead
      tr
        td
        td Mango
        td Peach
        td Banana
        td Kiwi
    tbody
      tr
        td Blue
        td= blue.mangoOptions
        td
        td
        td
      tr
        td Purple
        td
        td
        td
        td
      tr
        td Indigo
        td
        td
        td
        td
      tr
        td Teal
        td
        td
        td
        td
